@{
    Page.Title = "Message Sent";
}

<h1>@Page.Title</h1>

<div>
    <p>
        Thank you for your message.
    </p>
    <p>
        Once we read it we will get back to you as soon as possible.
    </p>
</div>