@{
    Page.Title = "Template500";
    Page.Description = "Template500";
}

<div class="banner">
    <h1>Section 1</h1>
        <p>
            Chuffin' nora. Soft southern pansy. Ee by gum. Tha what breadcake ee by gum nay lad how much.
            Soft southern pansy gi' o'er dahn t'coil oil tintintin ah'll gi' thi summat to rooer abaht face
            like a slapped arse. Ne'ermind shurrup. Aye eeh ey up aye. Ee by gum is that thine aye tintintin.
            Big girl's blouse.
        </p>
</div>

<hr />

<div>
    <div id="leftcol">
        <h3>Section 2</h3>
        <p>
            Chuffin' nora. Soft southern pansy. Ee by gum. Tha what breadcake ee by gum nay lad how much.
            Soft southern pansy gi' o'er dahn t'coil oil tintintin ah'll gi' thi summat to rooer abaht face
            like a slapped arse. Ne'ermind shurrup. Aye eeh ey up aye. Ee by gum is that thine aye tintintin.
            Big girl's blouse.
        </p>
    </div>

    <div id="rightcol">
        <h3>Section 3</h3>
        <p>
            Chuffin' nora. Soft southern pansy. Ee by gum. Tha what breadcake ee by gum nay lad how much.
            Soft southern pansy gi' o'er dahn t'coil oil tintintin ah'll gi' thi summat to rooer abaht face
            like a slapped arse. Ne'ermind shurrup. Aye eeh ey up aye. Ee by gum is that thine aye tintintin.
            Big girl's blouse.
        </p>
    </div>
</div>

<div class="clear"></div>