<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
        <add name="Template500DB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Template500;Persist Security Info=True;User Id=websiteowner;Password=pa55w0rd" />
    </connectionStrings>
    <system.web>
        <compilation xdt:Transform="RemoveAttributes(debug)" />
        <customErrors mode="On" defaultRedirect="500.html" xdt:Transform="Replace">
            <error statusCode="403" redirect="403.html" />
            <error statusCode="404" redirect="404.html" />
            <error statusCode="500" redirect="500.html" />
        </customErrors>
    </system.web>
</configuration>