<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings xdt:Transform="Replace">
        <add name="Template500DB" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=Template500;Persist Security Info=True;User Id=websiteowner;Password=pa55w0rd" />
    </connectionStrings>
</configuration>