@{
    Page.Title = "Change Password";
}

<h1>@Page.Title</h1>

<p>
    Your password has been changed successfully.
</p>

<div class="formbtns">
    @Html.ActionLink("Home Page", "Index", "Home")
</div>